

body
{
    background-color: rgb(36, 114, 139);
}

.image{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}

#img{
    width: 33.3333333333%;
    height: 300px;
    border-radius: 20px;
}
.linkbox{
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(67, 67, 185);
   opacity: .6;
   width: 100%;
   justify-items: flex-end;
   margin-right: 100px;
   text-align: right;
   border-radius: 4px;
}

.linkbox ul li{
    float: left;
    padding: 5px;
    background-color: rgb(113, 113, 218);
    border-radius: 100px;
    justify-content: space-between;
    text-decoration: none;
}

.linkbox ul li a{
    text-decoration: none;

}
.list
{
list-style-type: none;
}

.textarea{
    margin-bottom: 580%;
    font-size: 50px;
}